## Part 1: Getting started with Python

The world is full of problems. All sorts of problems, really. And sometimes it falls on us, as individuals or as small groups, to solve one of these problems.

Fortunately, we humans are pretty smart: we're good at figuring out what to do, and we're often good at doing it too. But so are most other primates, and crows, and beavers, and dolphins... so, why are we _smarter_ than them?

Well, we have evolved to have two big advantages over everyone else:

* We're good at building tools, which we can then use to help us do things
* We're good (like, _really_ good) at communicating: ideas, instructions, questions, explanations...

So imagine how amazing it would be if we could _communicate with our tools_!

Well... that is exactly what coding is, and it is exactly what we're about to do.

### 1.1 Making things

> "You can make anything by writing." - C.S. Lewis

Writing code is like writing a novel, or creating any other piece of art. You start with a blank canvas, and then gradually you start to add things to it.

Let's have a look at some of the things we can start building with.

In [1]:
3

3

In [2]:
3 + 4

7

In [3]:
"hi"

'hi'

Most "things" in Python are **objects**. An **object** here in Python is the same as an object in real life: it has certain properties, you can do things to it, you can use it to do things...

Moreover, every object belongs to a certain **type** - like granite is a type of rock, or jazz is a type of music. For example, we've just seen an **integer** object:

In [4]:
type(3)

int

And a **string** object:

In [5]:
type("hi")

str

We can change the type of some objects - for example, we can turn an integer into a string:

In [22]:
str(3 * 5)

'15'

Notice the quote marks in the printed output?

Or we can turn this particular string into an integer:

In [23]:
int("10")

10

But what about this one...?

In [24]:
int("hi")

ValueError: invalid literal for int() with base 10: 'hi'

Python didn't let us do that, but think about why. Can you think of a sensible way to turn `"hi"` into an integer? (Oi, you, trying to add up letter scores or whatever it is you're doing over there. I said a _sensible_ way.)

Similarly, it won't let us "add together" an integer and a string:

In [25]:
10 + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Instead of an answer, we get an **error message** telling us what went wrong. Look at the last line: Python is helpfully telling us that we tried to add a `str` and an `int`, and that `+` won't work with that combination!

#### Exercise

1. What happens if we "add together" two strings?
2. Fix the `10 + "hi"` example: change the type of the integer so that we can add a string to it
2. We can't add together an integer and a string, but what about multiplication?
3. Try out some more maths. Can you find another type of object?

### 1.2 Keeping things

> "Save it for later" - The Beat

Sure, these things we're making are great, but they're just kind of... _there_. Wouldn't it be nice if we could give each of them a name?

In [28]:
result = 3 + 4

Nothing seemed to happen. But something _did_ happen...

In [30]:
result

7

Our thing, our integer, our `7`, has been **assigned** to an object called `result`. So `result` is the name of this object (which is an integer with the value of `7`). And whenever we ask for `result`, we will get `7` in return. Makes sense?

Let's make another integer object:

In [32]:
to_add = 10

So `result` is an integer, and `to_add` is an integer, So... we should be able to add them together, right?

In [40]:
total = result + to_add

total

17

Let's revise what we already know about strings too:

In [41]:
sentence = "Your answer is: "
message = sentence + str(total)

message

'Your answer is: 17'

There's one more super-useful type of object which we should look at: **lists**.

Lists are like containers which let you keep multiple things in the same place.

In [10]:
letters = ["a", "b", "c", "d", "e", "f", "g"]

letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

We can go back and **slice** things out of lists based on their position. But...

    |￣￣￣￣￣￣￣￣￣| 
    |    WARNING    | 
    |    ~~~~~~~    | 
    | Python starts |
    |   counting    |
    |    from 0     | 
    |＿＿＿＿＿＿＿＿＿| 
    (\__/) || 
    (•ㅅ•) || 
    / 　 づ

(There are reasons for this, which you can go and read about if you're interested.)

In [47]:
letters[0]

'a'

In [48]:
letters[2]

'c'

Negative positions count backwards from the end of the list.

In [50]:
letters[-2]

'f'

You can also slice a whole section of a list using the format `from:upto`. But bear in mind that "up to" means "up to and NOT including".

In [51]:
letters[0:3]

['a', 'b', 'c']

If you don't tell Python where to stop, it will assume you want to go up to the end of the list:

In [60]:
letters[4:]

['e', 'f', 'g']

Similarly, if we don't say where we want to start, Python assumes we want to start at the very beginning, a very good place to start. Remember what negative positions do?

In [59]:
letters[:-2]

['a', 'b', 'c', 'd', 'e']

#### Exercises

1. Make an object called `python_ability`: an integer which you think represents your Python skill level right now
2. What happens if we assign over the top of an object that already exists? Try reassigning `python_ability` as `python_ability + 1`
3. Now combine `python_ability` with a string containing a motivational message to yourself. You're doing great!
4. Do all the things in a list need to be of the same type? Try things out... can you put a _list_ inside a list?
5. What does `letters[0:6:2]` do? What about `letters[::-1]`?

### 1.3 Things that make things

Imagine we're not sitting here in front of a computer, but instead we're in the kitchen. What we've done so far is basically just pull a load of stuff out of the cupboards and kinda spread it around, and we've mixed some stuff together, tasted some bits and pieces... which is great! We've learned loads, right?

But now we've learned about some of the basic ingredients, maybe it's time to stop throwing them around and instead do something useful with them. Maybe let's try following a recipe?

We've only just gotten started though, so let's not try anything too fancy. How about...

    Toast recipe
    ~~~~~~~~~~~~
    1. Put bread in toaster
    2. Let toaster do its thing
    3. Retrieve toast

Think about the role of the toaster here: it accepts the bread, does something to it, then gives it back to you.

Snap back to reality. That's exactly what a **function** does: it takes some input, does some stuff, and gives back some output. We've actually seen one function already...

In [1]:
type(528491)

int

We provide the `type()` function with an object; it tells us the type. Simple, right?

Let's look at a couple more functions...

In [14]:
len("A string")

8

What's `len()` doing?

Maybe you've figured it out already, but let's check the **documentation** to make sure:

In [20]:
?len

So `len()` gives us "the number of items in a container". Here, our "container" was actually a string, containing 8 characters. But we can use `len()` on different types of object - what about a list? Remember `letters` from earlier?

In [17]:
len(letters)

7

There's another function which we've actually been using a lot already, but so far it's been hiding very well. What do you think keeps making all our outputs magically appear under the code cells in this notebook?

In [18]:
print("Hi, it was me!")

Hi, it was me!

Let's read a bit more about `print()`.

In [21]:
?print

The first line of the documentation shows us a template of how to use `print()`. Notice the commas?

So far, we've only been putting one **argument** into these functions - one number, or one string, or one list. But functions don't necessarily have to have only 1 argument!

In [25]:
print("Here are", 3, "different arguments!")

Here are 3 different arguments!

Those three arguments (`"Here are"`, `3` and `"different arguments!"`) were all **unnamed**: we just threw them in, and `print()`... well, it printed them! But see how it joined the three arguments together with a space in between, and then printed them as a single string.

But what if we didn't want those arguments to be separated by a space? Well, we can tell `print()` to use a different separator...

In [36]:
print("Here are", 3, "different arguments!", sep="@")

Here are@3@different arguments!

In that call to `print()`, we used a **named argument**: we set `sep` to be a particular string (`"@"`).

Looking again at the documentation for `print()`, notice that `sep` has a **default value** of `sep=' '`. That means unless we specify `sep` as something different, then `print()` will use a string containing a single space (`' '`) as the separator between words - this is exactly what was happening before!

In [22]:
def say(phrase):
    print(phrase)

In [23]:
say("Hello there!")

Hello there!

In [38]:
def say_two(phrase1, phrase2):
    sentence = phrase1 + " " + phrase2
    print(sentence)

In [39]:
say_two("Hello!", "It's me")

Hello! It's me

In [66]:
def say_multi(phrases):
    sentence = " ".join(phrases)
    print(sentence)

In [67]:
lionel = ["Hello!", "Is", "it", "me", "you're", "looking", "for?"]

In [68]:
say_multi(lionel)

Hello! like Is like it like me like you're like looking like for?

In [91]:
def form_request(items):
    joined_items = " and ".join(items)
    return "I need your " + joined_items + "!"

In [92]:
req = form_request(["clothes", "boots", "motorcycle"])

In [93]:
req

'I need your clothes and boots and motorcycle!'

#### Exercises

1. Make a list containing 5 things, and check the length with `len()`
2. Use `print()` to print a string containing the days of the week, separated by a dollar sign
3. Print that string again, but end it with a

### 1.4 Comparing things

In [1]:
3 == 3

True

In [4]:
3 != 3

False

In [5]:
3 < 4

True

In [6]:
3 >= 4

False

In [9]:
"python" > "matlab"

True

In [11]:
"p" > "m"

True

### 1.5 Controlling things

In [15]:
print("Hello!")

Hello!

In [43]:
if (x == 3):
    print("Three!")

Three!

In [44]:
if (x == 4):
    print("Four!")

In [45]:
if (x == 3):
    print("Three!")
else:
    print("Not three!")

Three!

In [50]:
def grade(score):
    if (score >= 40):
        print("Pass")
    else:
        print("Fail")

In [51]:
grade(80)

Pass

In [53]:
grade(39.999)

Fail

*Exercise*: rewrite grade() to give degree class

### 1.6 Repeating things

In [58]:
for ltr in letters:
    print(ltr)

a
b
c
d
e
f

In [94]:
for k in range(len(letters)):
    print(letters[k])

a
b
c
d
e
f

*Exercise*: print the following

    a
    a-b
    a-b-c
    a-b-c-d
    a-b-c-d-e
    a-b-c-d-e-f

In [98]:
for k in range(len(letters)):
    joined_letters = "-".join(letters[:(k+1)])
    print(joined_letters)

a
a-b
a-b-c
a-b-c-d
a-b-c-d-e
a-b-c-d-e-f

## Exercise solutions

In [27]:
# 1.1
"hi" + "there"
3 * "hi"
type(3/2)

float

In [65]:
# 1.2
python_ability = 1

python_ability = python_ability + 1
python_ability

"Right now my Python ability is " + str(python_ability) + " and I am freaking awesome!"

["hello", 42, [101010, "listception"]]

letters[0:6:2]
letters[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']